@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
* {
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
  margin:0;
}
.headerimage {
  background-color:#003a6f;
  height:600px;
  width:100%;
  background-size:cover;
  position:relative;
  z-index:-1;
}
#backshape .wrapper {
  display:block;
  float:left;
  margin:50px auto 200px;
  width:100%;
  padding:0 5%;
  transform:skew(0deg,-5deg);
-ms-transform:skew(0deg,-10deg);
-webkit-transform:skew(0deg,-5deg); 
}
.product {
  float:left;
  width:29%;
  min-height:200px;
  background:blue;
  margin:2%;
  transform:skew(0deg,-5deg);
-ms-transform:skew(0deg,-10deg); /* IE 9 */
-webkit-transform:skew(0deg,0deg); /* Safari and Chrome */
}
#backshape {
  z-index:1;
  display:block;
  float:left;
  margin-top:-100px;
  width:100%;
  background: rgb(246,0,255);
  background: -moz-linear-gradient(90deg, rgba(246,0,255,1) 0%, rgba(0,204,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(246,0,255,1) 0%, rgba(0,204,255,1) 100%);
  background: linear-gradient(90deg, rgba(246,0,255,1) 0%, rgba(0,204,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f600ff",endColorstr="#00ccff",GradientType=1);
  transform:skew(0deg,10deg);
-ms-transform:skew(0deg,10deg); /* IE 9 */
-webkit-transform:skew(0deg,5deg); /* Safari and Chrome */
}
.footer {
  z-index:2;
  margin-top:-4em;
  position:relative;
  width:100%;
  display:block;
  float:left;
}
.footer .wrapper {
  height:150px;
  background:green;
}

a {
  background-color: #191c29;
  border: 3px solid white;
  color: white;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  font-family: sans-serif;
  border-radius: 50px;
  text-decoration: none;
  z-index: 1; /* set higher z-index value */
  position: relative; /* position must be set for z-index to work */
  transition: color .1s ease-out;
    &:before {
      color: white;
      padding: 20px;
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #bdd0d1;
      height: 100%;
      width: 0;
      opacity: 0;
      border: 2px solid transparent;
      transition: .3s all ease-out;
      z-index: -1;
      border-radius: 50px;
    }
    &:after {
      color: #000000;
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid #000000;
      opacity: 0;
      border-radius: 50px;
      transition: opacity .1s ease-out;
    }
    &:hover, &:focus {
        outline:none;
        color: #FFF;
        &:before {
            width: 100%;
            opacity: 1;
        }
        &:after {
            opacity: 1;
        }
    }
}


.footerLinkText
{
  width:29%;
  min-height: 20px;
  float:left;
  background:transparent;
  margin:2%;
  transform:skew(0deg,-5deg);
-ms-transform:skew(0deg,-10deg); /* IE 9 */
-webkit-transform:skew(0deg,0deg); /* Safari and Chrome */
}
.footerLinkText1
{
  width:29%;
  min-height: 20px;
  float:left;
  background:transparent;
  margin:2%;
  transform:skew(0deg,-5deg);
-ms-transform:skew(0deg,-10deg); /* IE 9 */
-webkit-transform:skew(0deg,0deg); /* Safari and Chrome */
}

:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1); /* Adjust the value here */
}

}


.laymstudiosLogo
{
  height: 25%;
  width: 25%;
  border-radius: 100%;
  top: 50%;

  display: flex;
  position: inherit;
  align-items: center;
  justify-content: center;
}


h1 {
  color: #ff7b00;
  height: 100%;
  width: 150%;
  display: flex;
  position: absolute;
  text-align: center;
  justify-content: center;
}

h2 {
  color: gray;
  align-self: center;
  display: flex;
  position: absolute;
  text-align: center;
  justify-content: center;
  height: 80%;
  width: 150%;
  font-size: smaller;
}

body {
  min-height: 100vh;
  background: #212534;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

html,body{ 
	width:100%;
	height:100%;
	background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.text {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
	color: #fff;
	max-width: 90%;
	padding: 2em 3em;
	text-shadow: 0px 0px 2px #131415;
	font-family: 'Open Sans', sans-serif;
}


